.container {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.title {
  font-size: 1.6rem;
  font-weight: 700;
  color: hsl(220, 20%, 15%);
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.contentSection {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.inputGroup label {
  font-size: 0.8rem;
  font-weight: 600;
  color:hsl(262, 83%, 58%); 
  margin-bottom: 0.3rem;
}

.inputGroup input {
  padding: 0.6rem;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 6px;
  font-size: 0.9rem;
}

.required {
  color: hsl(0, 80%, 50%);
  margin-left: 0.2rem;
}

.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup input[type="password"],
.inputGroup input[type="tel"] {
  padding: 0.8rem;
  border: 1px solid hsl(220, 13%, 85%);
  border-radius: 8px;
  font-size: 0.95rem;
  transition: border-color 0.2s, box-shadow 0.2s;
  width: 100%;
}

.inputGroup input:focus {
  border-color: hsl(262, 83%, 58%); 
  outline: none;
  box-shadow: 0 0 0 2px hsla(245, 70%, 55%, 0.2);
}

.radioGroup {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.3rem;
  font-size: 1.5rem;
}

.radioGroup input {
  margin-right: 0.4rem;
}
input[type="radio"] {
  width: 15px;
  height: 15px;
}

.buttonSection {
  margin-top: 1rem;
}

.signupBtn {
  width: 100%;
  padding: 0.9rem;
  background:  hsl(262, 83%, 58%); 
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.25s ease-in-out;
}

.signupBtn:hover {
  background: hsl(245, 70%, 45%);
}

.signupBtn:disabled {
  background: hsl(220, 13%, 80%);
  cursor: not-allowed;
}
